<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751997462975-62bmj400l3h862kvk433ft24a8evlgmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751997462975-62bmj400l3h862kvk433ft24a8evlgmg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>751997462975-6fommu70quo4iift0m6156nrgnd2n4pl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8oWniPkITYOC50sUVe07xRxYsh7M8jwA</string>
	<key>GCM_SENDER_ID</key>
	<string>751997462975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sachin.Teammates</string>
	<key>PROJECT_ID</key>
	<string>teammates-united</string>
	<key>STORAGE_BUCKET</key>
	<string>teammates-united.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751997462975:ios:d7ea6e8703322fa922d90a</string>
</dict>
</plist>
